* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.country-app {
    flex-direction: column;
    padding: 40px;
}

.table-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.single-card {
    margin: 0 auto;
    width: 50%;
}

.MuiTablePagination-toolbar p {
    margin: 0;
}

.search-input {
    text-indent: 10px;
}

.table-body-flag {
    width: 140px;
}

.single-card-icon-expand-more {
    margin-right: auto;
}