
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
body {
    /* background-color: aqua; */
}
.country-app {
    /* background-color: aqua; */
    /* display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;*/
    /* background-color:black; */
    /* text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;  */
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0 auto;
}
.Home-tableList {
    table-layout: auto;
    width: 100%;  
    border: 1px solid #cccccc;
    text-align: center;
}
td {
    width: 100px;
    text-align: center;
    vertical-align: middle;
}
.table-body-flag {
    width: 140px;
}  
/* .card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
} */
.single-card-avatar {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}